:root {
  --bg-color: #FFF8F2;
  --time-bg:#FFF8F2;
  --text-color: #333333;
  --reverse-text-color:#fafafa;
  --text-color-sec: #666666;
  --accent-color: #f5a623;
  --button-bg: #F57C00;
  --icon-button: #1a1a1a;
  --nav-bg: #ffffff;
  --footer-bg: #f9f9f9;
  --footer-border: #e0e0e0;
  --social-bg: #1a1a1a;
  --social-icon: #ffffff;
  ----section-color: #ECECEC;
  --section-color-sec: #FFFFFF;
  --card-bg: url('../assets/images/bg-card-light.png');
  --card-color-sec: #ffffff;
  --text-color-tertiary:##666666;
}

html[data-theme='dark'] {
    --time-bg:#1A1A1A;
  --bg-color: #1a1a1a;
  --text-color: #fafafa;
   --text-color-tertiary:#BBBBBB;
  --reverse-text-color: #333333;
  --text-color-sec: #BBBBBB;
  --nav-bg: #181818;
  --footer-bg: #181818;
  --button-bg: #f5a623;
  --card-bg: url('../assets/images/bg-card.png');
  --footer-border: #333333;
  --social-bg: #ffffff;
  --icon-button: #f5a623;
  --social-icon: #000000;
  --section-color: #2E2E2E;
  --section-color-sec: #2E2E2E;
  --card-color-sec: #2A2A2A
}

html[data-theme='dark'] {
  .chat {
    content: url("../assets/icons/chatDark.png");
  }
}
html[data-theme='dark'] {
  .save {
    content: url("../assets/icons/saveDark.png");
  }
}
html[data-theme='dark'] {
  .location {
    content: url("../assets/icons/locationDark.png");
  }
}
html[data-theme='dark'] {
  .cookie {
    content: url("../assets/icons/featureDark\ \(1\).png");
  }
}
html[data-theme='dark'] {
  .day {
    content: url("../assets/icons/featureDark\ \(2\).png");
  }
}
html[data-theme='dark'] {
  .potty {
    content: url("../assets/icons/featureDark\ \(3\).png");
  }
}
html[data-theme='dark'] {
  .child {
    content: url("../assets/icons/featureDark\ \(4\).png");
  }
}
html[data-theme='dark'] {
  .web {
    content: url("../assets/icons/webDark.png");
  }
}
html[data-theme='dark'] {
  .prev {
    content: url("../assets/prevDark.png");
  }
}
html[data-theme='dark'] {
  .next {
    content: url("../assets/nextDark.png");
  }
}
html[data-theme='dark'] {
.flatpickr-months .flatpickr-prev-month{
  color: #f9f9f9 !important;
  fill:#ffff !important;
}
}
html[data-theme='dark'] {
.flatpickr-months .flatpickr-next-month{
  color: #f9f9f9 !important;
  fill:#ffff !important;
}
} 
.icon-bg{
  background-color: var(--social-icon);
}



.daycare-hero{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 3rem 10%;
}

.daycare-hero img{
    /* width: 100%; */
    object-fit: contain;
}
.daycare-herotext{
    padding-top: 26px;
    display: flex;
    justify-content: space-between;

}
.daycare-herotext button{
    background-color: var(--section-color);
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight:500;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6px;
    padding: 12px 15px;
}
.daycare-herotext-header{
  font-weight: 600; 
  font-size: 45px; 
  line-height: 45px; 
  margin: 0px !important;
  font-family: 'Baloo 2', sans-serif;
}
.group-btn{
    display: flex;
    gap: 20px;
    align-items: center;
}
.daycare-hero-smalltext{
    font-size: 20px;
    margin: 10px !important ;
    /* padding-top: 10px; */
    display: flex;
    align-items: start;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    align-items: center;
    /* gap: 4px; */
}
.bold-text{
    font-weight: 600;
}
.right_border {
    border-right: 1px solid var(--text-color-sec); 
    padding-right: 16px;
    height: 10px;
}
.daycare-description-row{
    display: flex;
    justify-content: space-between;
    padding: 3rem 10%;
    gap: 50px;
    align-items: start;
}
.description-title{
  font-weight: 600; 
  font-size: 30px; 
  line-height: 100%; 
  margin: 0px !important;
  font-family: 'Nunito', sans-serif;
}
.review-title{
     font-weight: 600; 
  font-size: 26px; 
  line-height: 100%; 
  color: var(--text-color-sec);
  margin: 0px !important;
  font-family: 'Nunito', sans-serif;
}
.description-title-two{
      font-weight: 600; 
  font-size: 30px; 
  line-height: 100%; 
  font-family: 'Nunito', sans-serif;
    margin-top: 40px;
}
.description-text{
 font-size: 24px; 
  line-height: 100%; 
  color: var(--text-color-sec) !important;
  margin: 0px !important;
  font-family: 'Nunito', sans-serif;
}
.description-group{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.daycare-provider-profile{
    background-color: var(--section-color);
    border-radius: 30px;
    padding: 30px;
}
.daycare-location{
    background-color:  var(--section-color);
    border-radius: 30px;
    padding: 25px;
    width: 100%;
    /* margin-top: 40px; */
}
.daycare-name{
    color: var(--text-color);
    font-weight: 600;
    font-size: 26px;
    padding-top: 20px;
    margin: 0 !important;
    /* padding: 0 !important; */
}
.daycare-role{
     color: var(--text-color-sec);
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    padding-top: 5px;
    margin: 0 !important;
    /* padding: 0 !important; */
}
.daycare-role-location{
      color:  var(--text-color-sec);
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    margin-top: 60px !important;
}
.border-full{
    /* width: 100%; */
    border-top:1px solid var(--text-color-sec);
    color:  var(--text-color-sec);
    background-color:  var(--text-color-sec);
    margin-top: 25px;
}
.group-btns{
    margin-top: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.features-btn{
     background-color: var(--section-color);
    /* border: 1px solid  var(--text-color-sec); */
    border-radius: 50px;
    font-size: 18px;
    font-weight:500;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 6px;
    padding: 12px 15px;
    width: fit-content;
}
.reviewName span{
  color: var(--text-color-sec);
}
.features-btn .span{
    font-weight: 400;
    color:  var(--text-color-sec);
    
}
.daycare-website{
    color: #4DB6AC;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.review-group{
    display: flex;
    justify-content: space-between;
}
.reviewcard{
    border: 1px solid  var(--text-color-sec);
    border-radius: 30px;
    padding: 20px;
}
.review-text{
   font-size: 22px;
   margin: 0px 0 0 0 !important;
   font-weight: 400;
   color:  var(--text-color-sec);
}
/* SLIDER CSS  */
/* Base container */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;   /* desktop max width */
  margin: auto;
  height:100%;
  border-radius: 16px;
  overflow: hidden;
}


/* Slides row */
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Each slide */
.slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  display: block;
  /* border-radius: 16px; */
  object-fit: cover;
}

/* Arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background:  var(--text-color); */
  border: none;
  /* padding: 7px 20px; */
  /* color: var(--time-bg); */
  /* font-size: 25px; */
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}
.arrow-disabled {
  opacity: 0.4;
  pointer-events: none; /* prevent clicking */
}

.prev { left: 12px; }
.next { right: 12px; }

/* Dots */
.dots {
  text-align: center;
  margin-top: 12px;
}

.dot {
  height: 16px;
  width: 16px;
  margin: 0 4px;
  background-color:  var(--text-color-sec);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #4DB6AC;
}


/* CALENDER CSS  */
.time{
   color: var(--text-color) !important;
}
.currentTimeBg{
  background-color: var(--bg-color);
}
.timebg{
  background-color: var(--section-color);

}
.time-color{
   color: var(--text-color) !important;
}
.dayContainer{
  width: 100%;
}
.flatpickr-calendar{
 background-color:transparent !important;
}
.flatpickr-input[readonly] {
    cursor: pointer;
    display: none !important;
}
.calendar-container {
    background-color: var(--bg-color) !important;
  box-shadow: 0px 11.9px 71.37px 0px #0000001A !important;
  border-radius: 15px ;
  width: 100% !important;
  
  }
  .flatpickr-current-month{
    color: var(--text-color) !important;
  }
  .flatpickr-day {
    color: var(--text-color) !important;
      width: 100% !important; 
      
  }
  span.flatpickr-weekday{
      color: var(--text-color) !important;
      font-weight: 600 !important;
  }
  .flatpickr-innerContainer{
    width: 100%  !important;
    /* background-color: orangered !important; */
  }
  .flatpickr-calendar.inline{
    /* background-color: blue !important; */
    width: 100% !important;
  }
  .flatpickr-rContainer{
     width: 100%  !important;
     border-color: green;
  }
  .flatpickr-days{
    width: 100% !important;
    /* background-color: orchid; */
  }
  .dayContainer{
    width: 100% !important;
    max-width: 100% !important;
  }
  .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    right: 30px !important;
    left: auto !important;
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
    width: 20px !important;
    height: 18px !important;
}
.flatpickr-current-month{
  left: 0 !important;
  font-size: 20px !important;
  color: var(--text-color) !important;
  width: auto !important;
}

    .calendar-header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 18px;
      color: red;
    }
    .calendar-header img {
      margin-right: 8px;
    }
    .flatpickr-calendar {
      border: none !important;
      box-shadow: none !important;
      font-size: 14px;
      width: 100%;
    }
    .flatpickr-day.today {
      background: #ff914d;
      color: white;
      border-radius: 50%;
    }
    .flatpickr-day.selected {
      background: #333333 !important;
      color: white !important;
      border-radius: 50%;
      border: none !important;
    }
    .time-picker {
      margin: 20px 0;
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .time-picker input {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      width: 80px;
    }
    
    .submit-btn {
      background: var(--button-bg);
      color: white;
      border: none;
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
    }
    .submit-btn:hover {
      background: #e96b00;
    }
    .daycolor{
      color: var(--text-color-sec);
    }
    .span-color{
      color: var(--text-color);
    }
/* 📱 Responsive adjustments */
@media (max-width: 768px) {
  .slider-container {
    max-width: 100%;
    border-radius: 8px;
  }

  .prev, .next {
    padding: 8px;
    font-size: 14px;
  }

  .dot {
    height: 8px;
    width: 8px;
  }
}

@media (max-width: 480px) {
  .prev, .next {
    padding: 5px 10px;
    font-size: 12px;
  }

  .dots {
    margin-top: 8px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

@media  (max-width: 820px) { 
    p{
        margin: 15px 0 0 0;
    }
    .daycare-hero {
        padding: 2rem 4%;
        /* gap: 1.5rem; */
      }
      .daycare-herotext{
        align-items: center;
      }
    .daycare-herotext-header{
        font-size: 20px;
    }
    .description-title-two{
      font-size: 18px;
    }
    .features-btn{
      font-size: 14px;
      padding: 9px;
    }
    .daycare-hero-smalltext{
        font-size: 16px;
    }
    .daycare-herotext button{
        font-size: 14px;
         padding: 8px 10px;
    }
    .daycare-hero-smalltext{
  
        margin-top: 20px !important;
    }
     .daycare-hero-smalltext p{
  
        margin-top: 4px !important;
    }
    .daycare-description-row{
        flex-direction: column;
        
         padding: 0rem 4%;
    }
    .description-text{
        font-size: 14px;
    }
    .description-title{
        font-size: 18px;
    }
    .review-title{
      font-size: 14px;
    }
    .description-group{
        gap: 16px;
    }
    .daycare-name{
        font-size: 18px;
    }
    .daycare-role{
        font-size: 14px;
    }
    .daycare-location{
      padding: 20px;
    }
    .daycare-provider-profile{
        padding: 20px;
    }
    .border-full {
      margin: 20px 0;
    }
    .daycare-role-location{
      font-size: 16px;
      font-weight: 400;
      margin-top: 20px !important;
    }
    .daycare-website {
       font-size: 16px;
    }
    .submit-btn {
      
      padding: 15px;
     
    }
    .review-text{
      font-size: 14px;
    }
    .reviewcard{
    border: 0.29px solid  var(--text-color-sec);
    border-radius: 8px;
    padding: 5.5px;
}
.daycare-herotext-header{

  line-height: 100%; 
 
}
}
@media (max-width:1070px) {
  .features-btn{
      font-size: 14px;
      padding: 9px;
    }
    .description-title{
        font-size: 20px;
    }
    .review-title{
      font-size: 16px;
    }
    .prev, .next {
    padding: 8px 15px;
    font-size: 16px;
  }
}